@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  font-family: var(--font-roboto-slab), roboto; /* Use Alegreya as the font */
  font-size: 17px; /* Set the font size to 17px */
  font-weight: 600; /* Set the font weight to medium */
}
